#gameContainer{
    text-align: center;
}

#gameBoard {
    border: 3px solid;
}

#scoreText {
    font-size: 30px;
}

#restartBtn {
    height: 50px;
    width: 100px;
    font-size: 25px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 10px;
}